@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Signika Negative', sans-serif;
}
h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: blueviolet;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 100vw;
    z-index: 999;
    box-shadow: 2px;
}
.navbar span{
    background-color: black;
}
.brand-img img{
    width: 20%;
    margin: 20px;
    
}
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    text-align: center;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    width: 120px;
    padding: 1rem;
    margin-right: 1rem;
}
.navbar-links .btn1{
    border: 2px solid green;
    width: 120px;
    margin-right: 1rem;
    background-color: green;
    color: white;
    font-weight: bold;
}
.navbar-links .btn1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-links li a.active,
.navbar-links li a:hover {
    color: green;
}

.navbar-links li:hover {
    /* background-color: yellow; */
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}



#home {
    margin-top: 7px;
    background-image: url("1.webp");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 30px;
}

#home .btn {
    /* margin-top: 100px; */
}

#home a {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 13px 20px;
    background-color: white;
    font-weight: 500;
    border-radius: 5px;
}

#home .btn a.grey {
    color: white;
    background-color: grey;
    transition: 0.3s ease;
}

#home .btn a.grey:hover {
    color: grey;
    background-color: white;
}

#home .btn a.blue {
    color: white;
    background-color: blueviolet;
    transition: 0.3s ease;
}

#home .btn a.blue:hover {
    color: blueviolet;
    background-color: white;
}

#about {
    margin: 1rem;
    padding:3rem 9%;
    /* background-color: rgb(157, 250, 144); */
  }
  #about .heading {
    padding-bottom: 2rem;
  text-align: center;
  }
#about .heading h2{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    color:black;
    
    text-transform: uppercase;
    
  text-align: center;
  }
  #about .aboutmain{
    font-family: cursive;
    color: brown;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  #aboutbanner{
    margin-top: 7px;
    background-image: url("2.webp");
    width:100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px; 
  }

  #aboutbanner h2 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    letter-spacing: 1px;
}

#aboutbanner p {
    width: 50%;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 30px;
}



#aboutbanner a {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 13px 20px;
    background-color: white;
    font-weight: 500;
    border-radius: 5px;
}

#aboutbanner .btn a.grey {
    color: white;
    background-color: rgb(43, 99, 43);
    transition: 0.3s ease;
}

#aboutbanner .btn a.grey:hover {
    color: greenyellow;
    background-color: brown;
}
  
#product {
    margin: 1rem;
    padding:3rem 9%;
    font-family: cursive;
    color: brown;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    
    /* background-color: rgb(157, 250, 144); */
  }
  #product .heading {
    padding-bottom: 2rem;
  text-align: center;
  }
#product .heading h2{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    color:black;
    
    text-transform: uppercase;
    
  text-align: center;
  }
  #product .productmain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin: 2rem;
    
  }
#product .productmain .product0 h3{
    font-family: cursive;
    font-size: 1.3rem;
    font-weight: bold;
    
}
.line1{
    width: 80%;
    margin: 10%;
    align-items: center;
}

footer {
    padding: 6vw;
    background-color: rgb(216, 210, 210);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .fottable {
    padding-bottom: 40px;

}

footer h3 {
    color: brown;
    font-weight: 600;
    padding-bottom: 20px;

}

footer li {
    list-style: none;
    color: brown;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

footer li:hover {
    color: green;
}

footer p {
    color: brown;

}
footer .fottable1 img{
    width: 75px;
}
.copyright {
    padding: 1vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media(max-width:980px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .navbar-links ul li {
        text-align: center;
        
        width: 100%;
    }
    .navbar-links ul .btn {
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        width: 100%;
    }
    .navbar-links ul .btn1 a {
        padding: .5rem 1rem;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }
    #product .productmain{
        flex-direction: column;
    }
    #product .productmain img{
        padding-top: 16px;
    }
}